<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SIRENE</title>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" type="text/css" href="/styles/galigeo.css" />
		<link rel="stylesheet" type="text/css" href="/styles/sirene.css" />
	
		<script src="/scripts/vendors/jquery/jquery-3.3.1.min.js"></script>
		<script src="/scripts/vendors/d3js/d3.min.js"></script>

		<script src='/scripts/vendors/mapbox/V3.1.1/mapbox.js'></script>
		<link rel="stylesheet" type="text/css" href="/scripts/vendors/mapbox/V3.1.1/mapbox.css" />

		<script src='/scripts/vendors/mapbox/plugins/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js'></script>
		<link rel="stylesheet" type="text/css" href="/scripts/vendors/mapbox/plugins/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css" />

		<script src='/scripts/vendors/turfjs/turf.min.js'></script>
		<script src='/scripts/vendors/momentjs/moment-with-locales.min.js'></script>
		<script src='/scripts/vendors/momentjs/moment-duration-format.js'></script>

		<script type="module" src="/scripts/galigeo/sirene/sirene.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/styles/slds/assets/styles/salesforce-lightning-design-system-vf.css" />
	</head>
	<body>
		<div class="ggoslds">
			<header class="slds-global-header_container">
				<div class="slds-global-header slds-grid slds-grid_align-spread">
					<div class="slds-global-header__item">
						<div class="slds-text-heading_large">
						<span id="backToDemoIcon" class="slds-icon_container slds-icon-utility-back" title="Back to demo list" style="cursor: pointer;">
							<svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
								<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#back"></use>
							</svg>
							<span class="slds-assistive-text">Retour</span>
						</span>
						</a> SIRENE</div>
					</div>
				
				</div>
			</header>
			<div class="slds-panel slds-size_medium slds-panel_docked slds-panel_docked-left slds-is-open" aria-hidden="false" style="z-index:2000;">
				<!--
				<div class="slds-panel__header">
					<h2 class="slds-panel__header-title slds-text-heading_small slds-truncate" title="Panel Header">SIRENE Explorer</h2>					
				</div>
				<div class="slds-panel__body">
					<div class="slds-form slds-form_stacked">
						<div class="slds-form-element">
							<label class="slds-form-element__label" for="search_term"> <abbr class="slds-required" title="required">* </abbr> Rechercher des points de vente</label>
							<div class="slds-form-element__control">
								<input type="text" id="search_term" class="slds-input" required="" aria-describedby="search_term_form-error"/>
							</div>
							<div class="slds-form-element__help slds-hide" id="search_term_form-error">La recherche de chaîne vide est interdite.</div>
						</div>
						<div class="slds-form-element" style="text-align: center;">
							<button id="search_btn" class="slds-button slds-button_neutral">Rechercher
								<svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
									<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
								</svg>
							</button>
						</div>
					</div>
					<div id="search-infos-panel">
						<div id="search-spinner" class="slds-hide" style="position: relative;">
							<div role="status" class="slds-spinner slds-spinner_x-small" style="position: absolute;top: 16px; left: 0.5rem;">
								<span class="slds-assistive-text">Loading</span>
								<div class="slds-spinner__dot-a"></div>
								<div class="slds-spinner__dot-b"></div>
							</div>
							<div style="display: inline-block; margin-left: 2rem; vertical-align: middle; line-height: 32px;">Recherche en cours</div>
						</div>
						<div id="search-infos" class="slds-hide" style="position: relative;">
						</div>
					</div>
				</div>
				-->
				<div class="slds-panel__body" id="left-panel-div__body">
					<div class="slds-tabs_default">
						<ul class="slds-tabs_default__nav" role="tablist">
							<li class="slds-tabs_default__item slds-is-active" title="Explorer" role="presentation">
								<a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="sirene-explorer__content" id="sirene-explorer__item">Explorer</a>
							</li>
							<li class="slds-tabs_default__item" title="Analysis" role="presentation">
								<a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="sirene-analysis__content" id="sirene-analysis__item">Analyses</a>
							</li>
						</ul>
						<div id="sirene-explorer__content" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="sirene-explorer__item">
							<div class="slds-form slds-form_stacked">
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="search_term"> <abbr class="slds-required" title="required">* </abbr> Rechercher des points de vente</label>
									<div class="slds-form-element__control">
										<input type="text" id="search_term" class="slds-input" required="" aria-describedby="search_term_form-error"/>
									</div>
									<div class="slds-form-element__help slds-hide" id="search_term_form-error">La recherche de chaîne vide est interdite.</div>
								</div>
								<div class="slds-form-element" style="text-align: center;">
									<button id="search_btn" class="slds-button slds-button_neutral">Rechercher
										<svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
											<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
										</svg>
									</button>
								</div>
							</div>
							<div id="search-infos-panel">
								<div id="search-spinner" class="slds-hide" style="position: relative;">
									<div role="status" class="slds-spinner slds-spinner_x-small" style="position: absolute;top: 16px; left: 0.5rem;">
										<span class="slds-assistive-text">Loading</span>
										<div class="slds-spinner__dot-a"></div>
										<div class="slds-spinner__dot-b"></div>
									</div>
									<div style="display: inline-block; margin-left: 2rem; vertical-align: middle; line-height: 32px;">Recherche en cours</div>
								</div>
								<div id="search-infos" class="slds-hide" style="position: relative;">
								</div>
							</div>

						</div>
						<div id="sirene-analysis__content" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="sirene-analysis__item">
							<div id="jobs-list-panel">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="data-composer" class="slds-hide" style="position: absolute;bottom: 0; right: 0; left:300px;">
				<div id="recordsDockerContainer" class="slds-docked_container " style="z-index: 1000;padding: 0px;z-index:2000;">
					<div id="recordsDocker" class="slds-docked-composer slds-grid slds-grid--vertical slds-is-open" role="dialog" aria-labelledby="recordsDocker-heading-01" aria-describedby="recordsDocker-content-01">
						<div class="slds-docked-composer__header slds-grid slds-shrink-none">
							<div class="slds-media slds-media--center">
								<div class="slds-media__figure slds-m-right_x-small">
									<span class="slds-icon_container">
										<svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#database" />
										</svg>
									</span>
								</div>
								<div class="slds-media__body">
									<h2 id="recordsDocker-heading-01">Data Table</h2>
								</div>
							</div>
							<div class="slds-col--bump-left">
								<div class="slds-col_bump-left slds-shrink-none">
									<button  id="minimizeExpandRecordsDockerBtn" class="slds-button slds-button_icon slds-button_icon" title="Minimize window">
										<svg class="slds-button__icon" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#chevrondown" />
										</svg>
										<span class="slds-assistive-text">Minimize Composer Panel</span>
									</button>
									<button id="closeRecordsDockerBtn" class="slds-button slds-button_icon slds-button_icon slds-hide" title="Close">
										<svg class="slds-button__icon" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#close" />
										</svg>
										<span class="slds-assistive-text">Close Composer Panel</span>
									</button>
								</div>
							</div>
						</div>
						<div class="slds-docked-composer__body" id="recordsDocker-content-01" style="background-color: #f7f9fb;">
							<div id="recordsContent" class="slds-scrollable--y" style="padding: 5px; max-height: 310px;height:310px;">

							</div>
							<div id="jobAnalysisContent" class="slds-hide"  style="padding: 5px; max-height: 310px;height:310px;">
								<div id="jobAnalysis-chart" style="width:250px; float: left;">

								</div>
								<div id="jobAnalysis-list" class="slds-scrollable--y">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div id="map"></div>

	</body>
	<script>
		var self = this;
		$(document).ready(function(e){
			console.log(' >> document is ready');
			$('#backToDemoIcon').click(function(e){
				window.location = '../';
			});
			var wWidth = $(window).width();
			var dockerW = (wWidth-300) + 'px';

			$('#recordsDocker').css('width', dockerW);
			self.galigeo = new GGO.GGOApp ();
			GGO.EventBus.dispatch(GGO.EVENTS.APPISREADY);
		});
	</script>
</html>